export JIRA_USERNAME=
export JIRA_TOKEN=
export JIRA_HOST=jira.host
export jira_url=https://${JIRA_HOST}
export jira_pat=${JIRA_TOKEN}
export CMDB_ID=42
export ZABBIX_USER=${JIRA_USERNAME}
export ZABBIX_PASSWORD=""
export ZABBIX_TOKEN=""
export ZABBIX_URL=https://zabbix.host
export GIT_SERVICE=~/git/service
