export CLIPBOARD_ROOT_DIR="$(cd -- "$(dirname -- "${BASH_SOURCE[0]}")" && pwd)"
export JIRA_USERNAME=
export JIRA_TOKEN=
export JIRA_HOST=jira.host
export CMDB_ID=42
export ZABBIX_USER=${JIRA_USERNAME}
export ZABBIX_PASSWORD=""
export ZABBIX_TOKEN=""
export ZABBIX_URL=https://zabbix.host
export GIT_SERVICE=~/git/service
